# DSL- Python Experiment No. 3 
***NAME- SIAN RODRIGUES  ROLL NO.- D098  SAPID-60009230197 DIV- D2-2***

In [1]:
import statistics as st

In [ ]:
# Syntax of all the Data Structures :-
# 1. Creating an Empty set --> S=set()
# 2. creating an empty tuple --> t = ()

**1. Create a list of the first 10 positive integers and print the sum of the even numbers in the list**

In [2]:
num_list=[]
for i in range(1,11):
	num_list.append(i)
print(num_list)
# Lists are ordered, homogenoues , mutable data structures

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**2. 	Given the tuple (10, 20, 30, 40, 50), use slicing to print a new tuple containing only the last three elements.**

In [1]:
org_tup=(10,20,30,40,50)
new_tup=org_tup[-3:]   # -3 to end (-1)
print(new_tup)
# lists are ordered, hetrogenoues,immutable data structures

(30, 40, 50)

**3. Create a set of the numbers {1, 2, 3, 4, 5} and compute the intersection with {4, 5, 6, 7}; print the result.**

In [3]:
set1={1,2,3,4,5,"fe"}
set2={4,5,6,7,"fe"}
# Sets are unordered ,unique,hetrogenous  data structures 
print("The intersection of two sets is : ",set1.intersection(set2))

The intersection of two sets is :  {'fe', 4, 5}

**4.	Define a dictionary with the keys 'a', 'b', and 'c' and their respective values 1, 2, and 3, then update the value for key 'b' to 10 and print the updated dictionary.**

In [4]:
_mydict={
	'a':1,
	'b':2,
	'c':3
}
print("The old Dictionary is : ",_mydict)
_mydict['b']=10
print("The new Dictionary is : ",_mydict)

The old Dictionary is :  {'a': 1, 'b': 2, 'c': 3}
The new Dictionary is :  {'a': 1, 'b': 10, 'c': 3}

**5.	Using a list comprehension, create a list of squares for the numbers from 1 to 5 and print the resulting list**

In [5]:
_sqrlist=[x**2 for x in range(1,6)]
print(_sqrlist)

[1, 4, 9, 16, 25]

**6.	Create a tuple with elements 'cat', 'dog', and 'bird', then check and print whether 'dog' is in the tuple**

In [6]:
anim_tup=('cat','dog','bird')
if 'dog' in anim_tup:
	print("The given list contains 'dog' string")
else:
	print("No 'dog' string present ")

print(f"The word dog is in the tuple : {anim_tup.__contains__('dog')}")

The given list contains 'dog' string
The word dog is in the tuple : True

**7.	Given the list [1, 1, 2, 3, 5, 8, 13], convert it to a set and print the setâ€™s length. 8.**

In [7]:
_numlist=[1,1,2,3,4,8,13]
num_set=set(_numlist)
print("The length of the list is : \n",len(_numlist))
print("The length of the list is : \n",len(num_set))

The length of the list is :
 7
The length of the list is :
 6

**8.	Create two dictionaries {'A': [1, 2], 'B': [3, 4]} and {'B': [5, 6], 'C': [7, 8]}, then merge them into one dictionary and print the result**

In [10]:
dict1={'A': [1, 2],
	    'B': [3, 4]
}

dict2={'B': [5, 6], 
	   'C': [7, 8]}
print("The first dictionoary is :",dict1)
print("The second dictionoary is :",dict2)

# Merging Both the Dict using function 
# Dictionary 1 gets updated with the values in the dictionary 2 
dict1.update(dict2)
# above the dictionary number 1 has been updated 

print("The updated dictionary is :",dict1)
print("The second dictionary after updation is : ",dict2)

The first dictionoary is : {'A': [1, 2], 'B': [3, 4]}
The second dictionoary is : {'B': [5, 6], 'C': [7, 8]}
The updated dictionary is : {'A': [1, 2], 'B': [5, 6], 'C': [7, 8]}
The second dictionary after updation is :  {'B': [5, 6], 'C': [7, 8]}

Note that the `update(dict_)`  function takes input as a dictionary

**9.	For the list [3, 5, 7, 3, 5, 9, 3], create a dictionary to count the occurrences of each element and print the dictionary**

In [15]:
# I think this can be wisely done using 'List Comprehension' or the update method of the strings
my_list=[3,5,7,3,5,9,3]

check_tup=tuple(set(my_list))

count_dict={}
for i in check_tup:
	count_dict.update({i:my_list.count(i)})
print(count_dict)

{9: 1, 3: 3, 5: 2, 7: 1}

**10.	Define a tuple (1, 2, 3, 4, 5) and find the maximum and minimum values in the tuple; print both values**

In [17]:
fiv_tup=(1, 2, 3, 4, 5)
samp=list(fiv_tup)
samp.sort()
d=max(fiv_tup)

print("The maximum value is ",d)

print("The minimum value is ",samp[0])

The maximum value is  5
The minimum value is  1

**11.	Given a list of integers [12, 15, 18, 20, 22, 25, 30], calculate and print the variance using the statistics module.**

In [12]:
data=[12, 15, 18, 20, 22, 25, 30]
print("The mean of the data is : ",st.mean(data))
print("The variance of the given data is : ",st.variance(data))

The mean of the data is :  20.285714285714285
The variance of the given data is :  36.904761904761905

**12.	Create a dictionary where keys are product names and values are their sales numbers; calculate and print the total sales across all products.**

In [13]:
dict_sales={
	'TV':24,
	'Mobile':64,
	'Fridge':10,
	'AC':12
}

print("Gross Sales of all the products is :",sum(dict_sales.values()))
print(type(dict_sales.values())) # Dictionary Values and Dictionary Keys are seperate data types

Gross Sales of all the products is : 110
<class 'dict_values'>

**13.	From a list of temperatures [22, 25, 19, 30, 28, 32, 26], find and print the highest and lowest temperatures using the max () and min() functions.**

In [14]:
temp_list=[22, 25, 19, 30, 28, 32, 26]
print("The maximum temperature is : ",max(temp_list))
print("The maximum temperature is : ",min(temp_list))

The maximum temperature is :  32
The maximum temperature is :  19

**14.	Create a list of tuples representing student scores [(90, 'Alice'), (85, 'Bob'), (88, 'Charlie')] and print the name of the student with the highest score.**

In [14]:
# Tuples within lists 
tup_list=[(90, 'Alice'), (85, 'Bob'), (88, 'Charlie')]
# Note that here is similar pattern of storing data 
maxi=max(tup_list)
print("Student with highest score is : ",maxi[1],"and has a score of ",maxi[0])

Student with highest score is :  Alice and has a score of  90

**15.	Given a list of numbers [2, 4, 6, 8, 10], compute and print the cumulative sum of the list using a loop.**

In [16]:
sumlist=[2, 4, 6, 8, 10]
sum=0
for i in sumlist:
	sum+=i
print("The Cumulative sum of the given list is :",sum)

The Cumulative sum of the given list is : 30

**16.	Create a list of squares for numbers 1 through 10 using a list comprehension**

In [17]:
# Using list Comprehension
sqr_listcomp=[x**2 for x in range(1,11)]
print(sqr_listcomp)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**17.	Create a list that replaces every number divisible by 3 with "Fizz", every number divisible by 5 with "Buzz", and numbers divisible by both with **"FizzBuzz", for numbers 1 through 15**.**

In [20]:
# Instead of Creating complete list and then replacing do directly 
nums=[]
for i in range(1,16) :
	# Placing the main condition first is important 
		if((i%3==0 and i%5==0)):
			nums.append('FizzBuzz')
		elif(i%3==0):
			nums.append('Fizz')
		elif(i%5==0):
			nums.append('Buzz')
		else:
			nums.append(i)

print(nums)
# nums

[1, 2, 'Fizz', 4, 'Buzz', 'Fizz', 7, 8, 'Fizz', 'Buzz', 11, 'Fizz', 13, 14, 'FizzBuzz']

**18.	Create a list of numbers from 1 to 100 that are divisible by both 2 and 5.**

In [22]:
solu=[x for x in range(1,101) if (x%2==0 and x%5==0)]
print(solu)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [19]:
li=[]
for i in range(1,101):
	if(i%2==0 and i%5==0):
		li.append(i)
print(li)

# Note that List Comprehension can also be used

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

**19.	Write a program that takes a dictionary where each value is a list and converts it into a dictionary where each value is a set containing the unique elements from the original list.**

In [24]:
sampledict={
	'a':[1,3,24,3],'b':[1,1,43,5,5] , 'c':[34,34,43445,53]
}

print(sampledict)

# print(sampledict.keys())  It is iterable mostly
for i in sampledict.keys():
	sampledict[i]=set(sampledict[i])

# Update method can also be used 
# for i in sampledict.keys():
# 	sampledict.update({i:set(sampledict[i])})

print(sampledict)

{'a': [1, 3, 24, 3], 'b': [1, 1, 43, 5, 5], 'c': [34, 34, 43445, 53]}
{'a': {24, 1, 3}, 'b': {1, 43, 5}, 'c': {34, 53, 43445}}

**20.	Write a program that takes two dictionaries and returns a set of keys that are present in the first dictionary but not in the second.**

In [21]:
# This can be easily done usign the set operation
sampledict
dict_new={'a':131,'b':242,'Lamdaf':24,'S':123}
# We know that we cannot have duplicate keys in python 
print(set(sampledict.keys())-set(dict_new.keys()))

{'c'}

**21.Write a function that takes two sets of tuples and returns a tuple containing three sets:
Elements that are in both sets.
Elements that are only in the first set.
Elements that are only in the second set**

In [27]:
set1 = {(132, 242), (343, 453), (553, 643),(533,443)}
set2 = {(533, 443), (753, 843), (345, 6435)}

# Note that although it is a set inner elements are tuples and hence -->
# (533,443) != (443,533) cause tuples are ordered

# we have to return three sets by using this function
def compareTwoSets(set1 , set2):
    s1 = set1
    s2 = set2
    return (s1 & s2 , s1-s2, s2-s1)

print(compareTwoSets(set1 , set2))

(set(), {(443, 533), (132, 242), (553, 643), (343, 453)}, {(753, 843), (345, 6435), (533, 443)})

**22. Write a program that takes a list of sets and returns a single set that is the union of all the    	sets in the list.**

In [23]:
# Making List of Sets 
# {} to denote the sets () 
setlist=[{34,5,5,34,3},{23,43,1,3434,23,43,3},{3,43,43,434,3}]
def unionSingleSet(list):
	returnSet=set()
	# Iterating throught the list to access all the sets and make their union 
	for i in list:
		returnSet = returnSet.union(i)
	return returnSet

print(unionSingleSet(setlist))

{1, 34, 3, 5, 3434, 43, 434, 23}

**23. Write a program that takes a list of tuples and rotates each tuple by a given number of	positions. For example, rotating (1, 2, 3, 4) by 2 positions would result in (3, 4, 1,2).**

In [24]:
numberofpositions =0
listTuples=[(1,2,3,4,5),(6,7,8,9),(10,11,12,13)]
print(listTuples)
def seqTupleRotations(tuples_list,positions):
	final_list=[list(x) for x in tuples_list]
	for  i in final_list:
		for k in range(0,positions):
			temp=i[0]  # Reataining the first Element
			for j in range(0,len(i)):
				if(j<(len(i)-1)):  # Till Second Last we have to rotate 
					i[j]=i[j+1]
				else:
					i[j]=temp		# For last one we have to append the firt elementS

	return [tuple(x) for x in final_list]

numberofpositions=int(input("Enter the number of positions you want to rotate : "))
# Entered Sample input of 2
print(seqTupleRotations(listTuples,numberofpositions))

[(1, 2, 3, 4, 5), (6, 7, 8, 9), (10, 11, 12, 13)]
[(3, 4, 5, 1, 2), (8, 9, 6, 7), (12, 13, 10, 11)]

**24. Write a program that takes a list of tuples where each tuple contains integers and returns the     	 tuple with the highest sum of its elements**

In [24]:
def tuple_with_highest_sum(tuples_list):
    # Use the max function with a key that computes the sum of each tuple
    # Key is an attribute 
    return max(tuples_list,key=sum)
# If the key=sum is not specified then bydefault comparison is made by comparing each element

tuples = [(1, 2, 3), (4, 5), (6, 7, 8, 9), (0, 1)]
result = tuple_with_highest_sum(tuples)
print(f"The tuple with the highest sum is: {result}")

The tuple with the highest sum is: (6, 7, 8, 9)