# DSL- Python Experiment No. 3 -- Updated one 
***NAME- SIAN RODRIGUES  ROLL NO.- D098  SAPID-60009230197 DIV- D2-2***

1. Define a function multiply(x, y) that returns the product of x and y.

In [1]:
def multiply(x,y):
	return x*y;
print(multiply(2,5))

10

2. Write a function is_even(num) that returns True if num is even, and False 
otherwise.

In [2]:
def is_even(num):
	if(num%2==0):
		return True
	else:
		return False

print(is_even(8))

True

3. Create a function concat_strings(s1, s2) that returns the concatenation of s1 and s2.

In [6]:
def concat_strings(s1,s2):
	return s1+s2

print(concat_strings('Hello','World'))

HelloWorld

4. Define max_of_two(a, b) that returns the larger of a and b.

In [9]:
def max_of_two(a,b):
	if(a>b):
		return a
	else:
		return b
	
print(max_of_two(45,232))

232

5. Write a recursive function count_down(n) that prints numbers from n down to 1.

In [2]:
def count_down(n):
	if(n==1):
		print(1)
	else:
		print(n)
		count_down(n-1)
print(count_down(10))

10
9
8
7
6
5
4
3
2
1
None

6. Create a recursive function sum_of_list(lst) that returns the sum of all elements in the list 
lst.

In [20]:
def sum_of_list(lst):
    if not lst:
        return 0
    return lst[0] + sum_of_list(lst[1:])
# Here how the code Works : -->
lst=[1,2,3,4,5]
# for 1 cycle  [1] call on ([2,3,4,5])
# for 2 cycle  [1]+[2] call on ([3,4,5])
# for..... till required cycles 
print(sum_of_list([243,632,2,437,123]))

1437

7. Define a recursive function find_max(lst) that returns the maximum value in the list lst.

In [21]:
def find_max(lst):
    if len(lst) == 1:
        return lst[0]
    return max(lst[0], find_max(lst[1:]))
print(find_max([342,46,143,130]))

342

8. Write a function reverse_list(lst) that reverses the list lst using recursion.

In [1]:
def reverse_list(lst):
    if len(lst) == 0:
        return []
    return [lst[-1]] + reverse_list(lst[:-1])
print(reverse_list([12,22,34,24,543]))

[543, 24, 34, 22, 12]

9. Create a recursive function string_length(s) that returns the length of the string s.

In [23]:
def string_length(s):
    if s == '':
        return 0
    return 1 + string_length(s[1:])
print(string_length("Daryl Dixon"))
# Here we are alaso including the white spaces

11

10. Define power(base, exp) that calculates base raised to the power of exp using recursion.

In [25]:
def power(base, exp):
    # Defining the base condition
    if exp == 0:
        return 1
    return base * power(base, exp - 1)
print(power(32,4))
# 10^n= 10*10^(n-1)

1048576

11.  Write a recursive function print_pattern(n) that prints a pattern of * in n rows.

In [2]:
def print_pattern(n):
    if n > 0:
        print_pattern(n - 1)
        print('*' * n)
print(print_pattern(5))

*
**
***
****
*****
None

12. Create a recursive function factorial(n) that returns the factorial of n.

In [28]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n - 1)
print(factorial(52))
# n!= n * (n-1)!

80658175170943878571660636856403766975289505440883277824000000000000

13. Write a function that merges two dictionaries. The merger should handle cases where the 
dictionaries have overlapping keys by storing values in a list. If a key exists in both 
dictionaries, the value in the resulting dictionary should be a list containing the values from 
both dictionaries.

In [42]:
def merge_dicts(d1, d2):
    result = {}
    for key in set(d1) | set(d2):
        if key in d1 and key in d2:
            # If in Both Save them as a Key
            result[key] = [d1[key], d2[key]]
        else:
            result[key] = d1.get(key) or d2.get(key)
    return result

dict1 = {'apple': 3, 'banana': 1, 'orange': 2}
dict2 = {'banana': 5, 'orange': 7, 'grape': 4}

merged_dict = merge_dicts(dict1, dict2)
print(merged_dict)

{'apple': 3, 'grape': 4, 'banana': [1, 5], 'orange': [2, 7]}

14. Write program using lambda function to display numbers divisible by 9 from the given the 
list

In [30]:
lst = [104, 923, 1438, 4322, 425, 90]
div_by_9 = list(filter(lambda x: x % 9 == 0, lst))
print(div_by_9)

[90]

15. Write a Python program to sort a list of tuples using Lambda. 
Original 
list 
[('English', 
Sorting 
88), 
('Science', 
the 
of 
90), 
('Maths', 
List 
97), 
('Social 
of 
[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

#### Use of the `key` attribute  --> 
**If a key function is given, apply it once to each list item and sort them(lamda function applied list ko sort karna hai),ascending or descending, according to their function values.**

In [5]:
lst = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
lst.sort(key=lambda x: x[1],reverse=True)
# key=lambda x:x[0]  --> Sorts the given list in the alphabetical order 
print(lst)

[('Maths', 97), ('Science', 90), ('English', 88), ('Social sciences', 82)]

16.  Write a Python program to find the intersection of two given arrays using Lambda  
Original 
arrays: 
Check pdf

In [7]:
arr1 = [1, 2, 3, 5, 7, 8, 9, 10]
arr2 = [1, 2, 4, 8, 9]
intersection = list(filter(lambda x: x in arr1,arr2))
intersection

[1, 2, 8, 9]

**Problem Number 17**

In [9]:
lst1 = [1, 2, 3]
lst2 = [4, 5, 6]
result = list(map(lambda x, y: x + y, lst1, lst2))
# Here note that x --> denotes the element in the lst1 , y denotes the element in the lst2
result

[5, 7, 9]

18. Write a Python program to remove all elements from a given list present in another 
list using lambda. 
Original lists: 
list1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 
list2: [2, 4, 6, 8] 
Remove all elements from 'list1' present in 'list2: 
[1, 3, 5, 7, 9, 10]

In [37]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = [2, 4, 6, 8]
filtered_list = list(filter(lambda x: x not in list2, list1))
filtered_list

[1, 3, 5, 7, 9, 10]

 19. Read the total marks of 5 students and convert it to the percentage. 
 Filter the top 3 students percentage from above result  
 In the list of numbers from 1 to 20, replace multiples of 3 with "Fizz", multiples of 
5 with "Buzz", and multiples of both 3 and 5 with "FizzBuzz". Use the lambda 
function to get the task done 
 Takes a list of numbers as input, computes the sum of the numbers, and prints the 
sum along with the average

In [41]:
marks = [85, 90, 78, 88, 92]
percentages = list(map(lambda x: (x / 100) * 100, marks))
top_3 = sorted(marks, reverse=True)[:3]
print("Top 3 percentages:", top_3)

numbers = list(range(1, 21))
fizzbuzz = list(map(lambda x: 'FizzBuzz' if x % 3 == 0 and x % 5 == 0 else ('Fizz' if x % 3 == 0 else ('Buzz' if x % 5 == 0 else x)), numbers))
print("FizzBuzz output:", fizzbuzz)

def sum_and_average(lst):
    total = sum(lst)
    avg = total / len(lst) if len(lst) > 0 else 0
    return total, avg

print("Enter numbers separated by spaces:")
input_list = list(map(int, input().split()))
total, avg = sum_and_average(input_list)
print("Sum:", total)
print("Average:", avg)

Top 3 percentages: [92, 90, 88]
FizzBuzz output: [1, 2, 'Fizz', 4, 'Buzz', 'Fizz', 7, 8, 'Fizz', 'Buzz', 11, 'Fizz', 13, 14, 'FizzBuzz', 16, 17, 'Fizz', 19, 'Buzz']
Enter numbers separated by spaces:
Sum: 43
Average: 43.0

20. Write a Python program to count the occurrences of items in a given list using lambda. 
Original list: 
[3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2] 
Count the occurrences of the items in the said list: 
{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

In [10]:
lst = [3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]
occurrences = {i: lst.count(i) for i in set(lst)}
occurrences

{0: 2, 1: 1, 2: 2, 3: 4, 4: 2, 5: 3, 8: 2}