# DSL- Python Experiment No. 3 
***NAME- SIAN RODRIGUES  ROLL NO.- D098  SAPID-60009230197 DIV- D2-2***

**Question No.1  --	Create a list of the first 10 positive integers and print the sum of the even numbers in the list**

**Question No. 2--	Given the tuple (10, 20, 30, 40, 50), use slicing to print a new tuple containing only the last three elements.**

**Question No 3. Create a set of the numbers {1, 2, 3, 4, 5} and compute the intersection with {4, 5, 6, 7}; print the result.**

4.	Define a dictionary with the keys 'a', 'b', and 'c' and their respective values 1, 2, and 3, then update the value for key 'b' to 10 and print the updated dictionary.

5.	Using a list comprehension, create a list of squares for the numbers from 1 to 5 and print the resulting list

6.	Create a tuple with elements 'cat', 'dog', and 'bird', then check and print whether 'dog' is in the tuple

7.	Given the list [1, 1, 2, 3, 5, 8, 13], convert it to a set and print the setâ€™s length. 8.

8.	merge them into one dictionary and print the result.

9.	For the list [3, 5, 7, 3, 5, 9, 3], create a dictionary to count the occurrences of each element and print the dictionary

10.	Define a tuple (1, 2, 3, 4, 5) and find the maximum and minimum values in the tuple; print both values

11.	Given a list of integers [12, 15, 18, 20, 22, 25, 30], calculate and print the variance using the statistics module.

12.	Create a dictionary where keys are product names and values are their sales numbers; calculate and print the total sales across all products.

13.	From a list of temperatures [22, 25, 19, 30, 28, 32, 26], find and print the highest and lowest temperatures using the max () and min() functions.

14.	Create a list of tuples representing student scores [(90, 'Alice'), (85, 'Bob'), (88, 'Charlie')] and print the name of the student with the highest score.

15.	Given a list of numbers [2, 4, 6, 8, 10], compute and print the cumulative sum of the list using a loop.

16.	Create a list of squares for numbers 1 through 10 using a list comprehension

17.	Create a list that replaces every number divisible by 3 with "Fizz", every number divisible by 5 with "Buzz", and numbers divisible by both with "FizzBuzz", for numbers 1 through 15.

18.	Create a list of numbers from 1 to 100 that are divisible by both 2 and 5.

19.	Write a program that takes a dictionary where each value is a list and converts it into a dictionary where each value is a set containing the unique elements from the original list.

20.	Write a program that takes two dictionaries and returns a set of keys that are present in the first dictionary but not in the second.

21.	Write a function that takes two sets of tuples and returns a tuple containing three sets:
Elements that are in both sets.
Elements that are only in the first set.
Elements that are only in the second set.

22. Write a program that takes a list of sets and returns a single set that is the union of all the    	sets in the list.

23. Write a program that takes a list of tuples and rotates each tuple by a given number of	positions. For example, rotating (1, 2, 3, 4) by 2 positions would result in (3, 4, 1,2).

24. Write a program that takes a list of tuples where each tuple contains integers and returns the     	 tuple with the highest sum of its elements